{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfumy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-color: rgb(181, 180, 180);">

    
    <div class="header">
        <nav>
            <h1>Perfumy</h1>
            <ul>
                <li>Home |</li>
                <li>Products |</li>
                <li>About Us |</li>
                <li>Contact Us |</li>
            </ul>
        </nav>
    </div>

    
    <div class="searchbar">
        <input type="text" placeholder="Search">
    </div>

   
    <div class="products">
        <div class="box">
            <img src="{% static 'images/img1.jpeg' %}" alt="Product Image">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque quo aperiam amet, facilis sed dolorem.</p>
        </div>
        <div class="box">
            <img src="{% static 'images/img1.jpeg' %}" alt="Product Image">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque quo aperiam amet, facilis sed dolorem.</p>
        </div>
        <div class="box">
            <img src="{% static 'images/img1.jpeg' %}" alt="Product Image">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque quo aperiam amet, facilis sed dolorem.</p>
        </div>
    </div>

    
    <div class="about">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptate unde, dicta corrupti quidem aliquid...</p>
    </div>

  
    <div class="contact">
        <h4>Contact</h4>
        <p>📞 +91 1234567890</p>
        <p>📧 perfumy@gmail.com</p>
        <p class="contact-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas obcaecati excepturi, earum quisquam repellendus...</p>
    </div>

</body>
</html>


