{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Favourite Actor Page</title>
</head>
<body style="background-color: antiquewhite;">
    <center>
    <h1>Vijay</h1>
    <p>Actor|Director|Singer|Politician</p>
    
     <img src="{% static 'images/img2.jpg' %}" width="100px">
     <img src="{% static 'images/img6.jpg' %}" width="100px">
     <img src="{% static 'images/img4.jpg' %}" width="100px">
     <img src="{% static 'images/img5.jpg' %}" width="100px">
     <img src="{% static 'images/img6.jpg' %}" width="100px">
     <img src="{% static 'images/img2.jpg' %}" width="100px">
  
    </center>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, sequi. Earum mollitia aspernatur, itaque vero delectus dolor? Laboriosam corporis velit, amet accusantium error impedit voluptates perferendis dicta praesentium ratione, vitae ipsum consectetur odit rerum aliquam vel ipsa hic at neque commodi. Labore harum ipsa veritatis veniam eius maxime consectetur dicta ex placeat! Ea, laudantium officiis corrupti natus cum esse sint quia neque deserunt fuga, est, veritatis libero tempora animi? Itaque consectetur facilis quos reiciendis autem eius hic possimus quia, optio tenetur ea iure, enim vero pariatur sequi a qui dolor eum nihil accusamus cumque! Temporibus harum aliquam distinctio architecto perferendis.
    </p>
    <hr>
    
    <center>
    <h2>Favourite Movies</h2>
     <p>
        <a href="https://www.youtube.com/watch?v=3atlMD-Nx-U">Nanban |</a>
        <a href="https://www.youtube.com/watch?v=U3x8HzP1ijg">Vashikara |</a>
        <a href="https://www.youtube.com/watch?v=shBuqr4acOw">Love Today</a>
     </p>
    </center>
    <hr>
    <center>
    <h1>Youtube Video</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FYErehuSuuw?si=XMOWvAQMh_ulPfcD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </center>
    <hr>
</body>
</html>